.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  padding: 10px;
  justify-items: center;
}

.card {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  width: 240px;
  height: 100%;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h3 {
  margin: 15px 0 5px;
  font-size: 1.2rem;
  color: #1A1A1A;
}

.card p {
  margin: 0 0 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #B8181E;
}

.btn-detalle {
  padding: 10px 20px;
  background-color: #B8181E;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-detalle:hover {
  background-color: #000000;
}