.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 10px 40px;
}

.navbar img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #00bfff;
}

.cart-widget {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-links a:visited {
  color: white; 
}